.tag-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #ffeb3b;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}

.delete-chip {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.delete-chip .icon {
  font-size: 14px;
  color: #333;
}
